:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--border-radius);

  nav {
    border: 1px solid var(--color-gray);

    menu {
      display: flex;
      gap: 1rem;
      padding: 2px;

      a {
        padding: 0.5rem;
        border-radius: var(--border-radius);
        min-width: 5rem;
        text-align: center;

        &:not(:active) {
          color: var(--color-text);
          background-color: var(--color-gray);
        }

        &.active {
          color: white;
          background-color: var(--color-primary);
        }
      }
    }
  }
}
