:root {
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-text: oklch(21% 0.006 285.885);
  --color-lightgray: oklch(96.7% 0.001 286.375);
  --color-gray: oklch(92% 0.004 286.32);
  --color-darkgray: oklch(89.1% 0.006 286.286);
  --color-danger: oklch(64.5% 0.246 16.439);
  --border-radius: 4px;
}

body {
  font-family: sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
}

menu, ul, ol {
  margin: 0;
  padding: 0;
}

button,
input,
select {
  border: 1px solid var(--color-gray);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: 11pt;
}

select,
button {
  &:disabled {
    background-color: var(--color-lightgray);
    color: var(--color-darkgray);
  }

  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background-color: var(--color-gray);
    }

    &:active {
      background-color: var(--color-darkgray);
      box-shadow: inset 0 0 4px var(--color-darkgray);
    }
  }
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-gray);

  tr {
    th, td {
      height: 2rem;
      padding: 0.5rem;
      color: var(--color-text);
    }

  }

  thead {
    th {
      background-color: var(--color-lightgray);
      text-align: start;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        td {
          background-color: var(--color-lightgray);
        }
      }

      &:hover {
        td {
          background-color: var(--color-gray);
        }
      }
    }

  }
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.error {
  color: var(--color-danger);
}
